* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #588157;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div_container {
  background-color: #a3b18a;
  height: 80%;
}
